/* Styles written by Rich Donohue for New Maps Plus and Floating Sheep */
@import url(https://fonts.googleapis.com/css?family=Graduate);
@font-face {
    font-family: 'SFSportsNight';
    src: url('../fonts/SFSportsNight.ttf');
}
@font-face {
    font-family: 'OctinSportsRg';
    src: url('../fonts/OctinSportsRg.ttf');
}
body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: 'OctinSportsRg', sans-serif;
    color: #202020;
}
header {
    background: #f5f5f5;
    height: 95px;
    width: 100%;
    position: absolute;
    z-index: 200;
    border-bottom: 2px solid #d1701a;
}
h1 {
    font-family: 'SFSportsNight', serif;
    position: absolute;
    z-index: 200;
    color: #005dab;
    font-size: 2em;
    top: 0;
    margin: 0;
    padding: 6px 15px;
    left: 10px;
    display: inline-block;
    line-height: 1.2em;
    max-width: 40%;
}
h1 span {
    text-shadow: 2px 2px 0 #f5f5f5, 5px 5px 0 #d1701a;
}
h1 img {
    position: absolute;
    top: 10px;
    left: -70px;
}
h2 {
    position: absolute;
    top: 0px;
    margin: 0;
    right: 20px;
    z-index: 200;
    font-size: 3.4em;
    letter-spacing: .02em;
    font-weight: 400;
    font-variant: small-caps;
    display: inline-block;
    color: #d1701a;
}
h2 span:last-child {
    text-shadow: 2px 2px #005dab;
}
#huh {
    position: absolute;
    top: 100px;
    right: 15px;
    padding: 3px 6px;
    z-index: 300;
    color: #f0f9e8;
    font-size: 1.2em;
    background-color:rgba(40,40,40,0.8);
    border: 1px grey solid; 
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    display: none;
}
#huh:hover {
   background-color:rgba(255,255,255,0.8); 
   color: #202020;
}
h3 {
    font-size: 1.1em;   
}
#about {
    position: absolute;
    z-index: 400;
    width: 65%;
    left: 15%;
    top: 15%;
    background-color:rgba(40,40,40,0.95);
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px grey solid;
    color: whitesmoke;
    display: none;
}
#about > div {
    width: 60%;
    float: left;
    border-right: 1px solid #d4d4d4;
    margin-right: 25px;
    padding-right: 25px;
}
#about h3, #about h4 {
    font-variant: small-caps;
    font-size: 1.6em;
    margin: 8px auto 10px;
}
#about h4 {
    font-size: 1.2em;   
}
#about p, #about li {
    color: whitesmoke;
    font-size: .9em;
    margin: 0 0 10px;
    line-height: 1.4em;
}
#about li {
    list-style-type: none;
    margin-bottom: .6em;
}
#about a {
    color: #48a3c8;
}
b {
    font-weight: bold;
}
#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    z-index: 100;
    background: #cecece;
}
#cover {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    z-index: 300;
    background: #202020;
    opacity: .7;
    display: none;
}
button {
    padding: 0 6px;   
}
p {
    font-size: 1em;
    color: #001323;
}
#ui-controls {
    position: absolute;
    top: 42px;
    right: 20px;
    z-index: 200;
    display: none; /* initially hide until populated */
}
#ui-controls dl {
    display: inline-block;
    margin-left: 50px;
}
.dropdown dd, .dropdown dt, .dropdown ul { 
    margin:0px; 
    padding:0px; 
}
.dropdown dd { 
    position:relative; 
}
.dropdown a, .dropdown a:visited { 
    color:#d1701a; 
    text-decoration:none; 
    outline:none;
}
.dropdown a:hover { 
    color: whitesmoke;
}
.dropdown dt a:hover { 
    color: whitesmoke; 
    background-color:#005dab;
    border: 1px solid #d1701a;
}
.dropdown dt a {
    background: whitesmoke url(../img/arrow2.png) no-repeat scroll right center; display:block; 
    padding-right:20px;
    border:1px solid #d1701a; 
    width:150px;
}
.dropdown dt a span {
    cursor:pointer; 
    display:block; padding:5px;
}
.dropdown dd ul { 
    background: whitesmoke none repeat scroll 0 0; 
    border:1px solid #d4ca9a; 
    color:#C5C0B0; 
    display:none;
    left:0px; 
    padding:5px 0px; 
    position:absolute; 
    top:2px; 
    height: 400px;
    overflow-y: scroll;
    width:auto; 
    min-width:170px; 
    list-style:none;
}
.dropdown span.value { 
    display:none;
}
.dropdown dd ul li a { 
    padding:5px; 
    display:block;
}
.dropdown dd ul li a:hover { 
    background-color:#005dab;
}


/* LEGEND */
.legend {
    display: none;   /* initially hide for fadeIn */
    display: inline-block;
}
.legend, .stats {
    font-family: 'OctinSportsRg', serif;
    font-size: 1em;
    color: #333;
}
.stats {
    position: absolute;
    z-index: 200;
    width:auto;
    display: none;
    background: rgba(244, 244, 244, .8);
    border: 2px #d1701a solid;
    border-radius: 5px;
    color: #005dab;
    padding: 6px 10px;
}
.stats h3 {
    padding: 0;
    margin: 6px 0 0;
    position: relative;
}
.stats ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    color: #020203;
}
.legend h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 0;
}
.legend h3 span:first-child {
    position: absolute;
    left: 0;
    top: -10px;
}
.legend h3 span:last-child {
    position: absolute;
    right: 0px;
    top: -10px;
}
.legend ul {
    padding: 0;
}
.legend li {
    list-style-type: none;
    margin: 6px 0;
    display: inline-block;
}
.legend ul span {
    width: 80px;
    height: 30px;
    float: left;
    margin-right: 0;
}

#branding {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 200;
}
#branding a {
  margin-bottom: 20px;
}
#sheep {
    opacity: .6;
}
#mobile-apology {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    z-index: 100;
    background: whitesmoke;
    padding: 20% 0 0;
    font-size: 1em;
    display: none;   
}
#mobile-apology p {
    color: #545252;    
    width: 70%;
    margin: 0 auto 15px;
}

/* ----------- detect smaller phones and handhelds and disable ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 520px) {
      #mobile-apology {
        display: block;
        z-index: 500;
      }
}

