/* Styles written by Rich Donohue for New Maps Plus NCAA March Madness Map */
@import url(https://fonts.googleapis.com/css?family=Graduate);
@font-face {
    font-family: 'sf_sports_nightregular';
    src: url('fonts/sfsportsnight-webfont.eot');
    src: url('fonts/sfsportsnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sfsportsnight-webfont.woff2') format('woff2'),
         url('fonts/sfsportsnight-webfont.woff') format('woff'),
         url('fonts/sfsportsnight-webfont.ttf') format('truetype'),
         url('fonts/sfsportsnight-webfont.svg#sf_sports_nightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'octin_sportsregular';
    src: url('fonts/octin_sports_rg-webfont.eot');
    src: url('fonts/octin_sports_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/octin_sports_rg-webfont.woff2') format('woff2'),
         url('fonts/octin_sports_rg-webfont.woff') format('woff'),
         url('fonts/octin_sports_rg-webfont.ttf') format('truetype'),
         url('fonts/octin_sports_rg-webfont.svg#octin_sportsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: 'octin_sportsregular', sans-serif;
    color: #202020;
}
header {
    background: #f5f5f5;
    height: 130px;
    width: 100%;
    position: absolute;
    z-index: 200;
    border-bottom: 2px solid #d1701a;
}
h1 {
    font-family: 'sf_sports_nightregular', Graduate, serif;
    z-index: 200;
    color: #005daa;
    font-size: 2.4em;
    margin: 0 auto;
    padding: 6px 15px;
    line-height: 1.2em;
    text-align: center;
}
h1 span {
    text-shadow: 2px 2px 0 #f5f5f5, 5px 5px 0 #d1701a;
}
h1 img {
    position: absolute;
    top: 10px;
    left: -70px;
}
h2 {
    position: absolute;
    top: 110px;
    margin: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    font-size: 3.4em;
    letter-spacing: .02em;
    font-weight: 400;
    font-variant: small-caps;
    display: inline-block;
}
#huh {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 0 6px;
    z-index: 800;
    color: #005daa;
    font-size: 1.8em;
    border-top: 2px solid white; 
    text-decoration: none;
    transition:  text-decoration 0.5s ease;
    font-family: sans-serif;
    font-variant: small-caps;
    letter-spacing: .02;
}
#huh:hover {
   text-decoration: underline;
}
h3 {
    font-size: 1.1em;   
}
#about {
    position: absolute;
    z-index: 800;
    width: 65%;
    left: 15%;
    top: 20%;
    background-color:rgba(255,255,255,0.95);
    padding: 8px 15px;
    border-radius: 4px;
    border: 2px #005daa solid;
    color: #535353;
    font-family: sans-serif;
    display: none;
}
#about > div {
    width: 60%;
    float: left;
    border-right: 1px solid #d4d4d4;
    margin-right: 25px;
    padding-right: 25px;
}
#about h3, #about h4 {
    font-variant: small-caps;
    font-size: 1.6em;
    margin: 8px auto 10px;
}
#about h4 {
    font-size: 1.2em;   
}
#about p, #about li {
    color: #535353;
    font-size: .9em;
    margin: 0 0 10px;
    line-height: 1.4em;
}
#about li {
    list-style-type: none;
    margin-bottom: .6em;
}
#about a {
    color: #005daa;
}
b {
    font-weight: bold;
}
#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    z-index: 100;
    background: #cecece;
}
#cover {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    z-index: 700;
    background: rgba(255,255,255,.6);
    display: none;
}
button {
    padding: 0 6px;   
}
p {
    font-size: 1em;
    color: #001323;
}
#ui-controls {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 500;
    display: none; /* initially hide until populated */
}
#ui-controls > span {
    color: #d1701a;
    font-size: 2.5em;
    position: absolute;
    left: 48%;
    top: 30px
}
.team-1 {
    position: absolute;
    left: 20px;
    
}
.team-1 dt a span {
    color: #005daa;
}
.team-1 dt a span:hover {
    color: whitesmoke;
}
.team-2 {
    position: absolute;
    right: 20px
}
#ui-controls dl {
    display: inline-block;
    margin: 10px;
}
.dropdown dd, .dropdown dt, .dropdown ul { 
    margin:0px; 
    padding:0px; 
}
.dropdown dd { 
    position:relative; 
}
.team-1 a, .dropdown a:visited { 
    color:#005daa; 
    text-decoration:none; 
    outline:none;
}
.team-2 a, .dropdown a:visited { 
    color:#d1701a; 
    text-decoration:none; 
    outline:none;
    text-align: right;
}
.dropdown dt:hover span { 
    color: whitesmoke;
}
.team-1 dt a:hover { 
    color: whitesmoke; 
    background-color:#005daa;
    border: 2px solid #005daa;
}
.team-2 dt a:hover { 
    color: whitesmoke; 
    background-color:#d1701a;
    border: 2px solid #d1701a;
}
.team-1 dt a {
    background: whitesmoke; 
    display:block; 
    padding-right: 40px;
    font-size: 3em;
}
.dropdown dt a {
    background: whitesmoke url(../img/arrow.png) no-repeat scroll right center; 
    display:block; 
    padding-right: 60px;
    font-size: 3em;
}
.dropdown dt a span {
    cursor:pointer; 
    display:block; 
    padding:5px;
}
.dropdown dd ul { 
    background: whitesmoke none repeat scroll 0 0; 
    border:1px solid #d4ca9a; 
    color:#C5C0B0; 
    display:none;
    left:0px; 
    padding:5px 0px; 
    position:absolute; 
    top:2px; 
    height: 400px;
    overflow-y: scroll;
    width:auto; 
    min-width:170px; 
    list-style:none;
}
.team-2 dd ul {
    left: -140px
}
.dropdown span.value { 
    display:none;
}
.dropdown dd ul li a { 
    padding:5px; 
    display:block;
    font-size: 2em;
}
.dropdown dd ul li a:hover { 
    background-color:#005daa;
    color: whitesmoke;
}

/* TAG KEY OUTPUT*/

#team-1tags, #team-2tags {
    position: absolute;
    top: 150px;
    z-index: 300;
    font-family: "Helvetica Nueve", Helvetica, sans-serif;
    max-width: 180px;
    background: rgba(244, 244, 244, .8);
    border-radius: 5px;
    padding: 6px 10px;
    display: none;
}
#team-1tags {
    left: 30px;
    border: 2px #005daa solid;
    color: #005daa;
}
#team-2tags {
    right: 30px;
    border: 2px #d1701a solid;
    color: #d1701a;
}

/* LEGEND */
.legend {
    display: none;   /* initially hide for fadeIn */
    display: inline-block;
    position: absolute;
    left: 33%;
    bottom: -25px;
    z-index: 200;
    background: whitesmoke;
    padding: 6px 25px;
    border: 2px #d1701a solid;
    border-radius: 5px;
    display: none;
}
.legend, .stats {
    font-family: 'octin_sportsregular', serif;
    font-size: 1em;
    color: #333;
}
.stats {
    position: absolute;
    z-index: 800;
    width:auto;
    display: none;
    background: rgba(244, 244, 244, .8);
    border: 2px #d1701a solid;
    border-radius: 5px;
    color: #005daa;
    padding: 6px 18px;
}
.stats h3 {
    padding: 0;
    margin: 6px 0 0;
    position: relative;
}
.stats ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 10px 0;
    color: #020203;
}
.legend h3 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
}
.legend h3 span:first-child {
    position: absolute;
    left: 30px;
    top: 2px;
}
.legend h3 span:last-child {
    position: absolute;
    right: 30px;
    top: 2px;
}
.legend ul {
    padding: 0;
}
.legend li {
    list-style-type: none;
    margin: 6px 0;
    display: inline-block;
}
.legend ul span {
    width: 100px;
    height: 30px;
    float: left;
    margin-right: 0;
}

#branding {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 120px;
    z-index: 200;
}
#branding a {
    position: absolute;
}
#branding a:first-child {
    left: 20px;
    bottom: -70px;
}
#branding a:last-child {
    right: 20px;
}
#mobile-apology {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    z-index: 100;
    background: whitesmoke;
    padding: 20% 0 0;
    font-size: 1em;
    display: none;   
}
#mobile-apology p {
    color: #545252;    
    width: 70%;
    margin: 0 auto 15px;
}

/* ----------- detect smaller phones and handhelds and disable ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 520px) {
      #mobile-apology {
        display: block;
        z-index: 500;
      }
}

